body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Great Vibes";
}

.fallingObject {
    position: absolute;
    color: #0C3;
    text-shadow: #060;
    top: -30px;
}

#FallingContentWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

#video {
    position: fixed;
    z-index: -99;
    width: 100%;
    height: 100%;
}